*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    position: relative;
}
.container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header{
    width: 100%;
    height: 56px;
    opacity: 0.5;
    z-index: 1000;
    position: absolute;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
header .home{
    padding: 12px 0 0 60px;
}
header a{
    text-decoration: none;
    font-family: ﻿Verdana-Bold, ﻿AdobeInvisFont, ﻿Courier;
    font-size: 20pt;
    color: white;
    text-align: left;
}
header a:hover{
    color: #3cb878;
    transition: all ease 1.5s;
}
.navigation{
    width: 45%;
    height: 56px;
    vertical-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons {
    width: 28%;
    height: 25px;
    display: flex;
    border-right: 1px solid #827e7b
}
.icons a{
    height: 20px;
    margin-right: 30px;
}
.forum, .journey, .caledar
 { display: inline-block;
    background: url('../img/sprite.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left; }

.caledar{
    background-position: -20px -0px;
    width: 28px;
    height: 20px;
}
.journey {
    background-position: -20px -40px;
    width: 20px;
    height: 20px;
}
.forum{
    background-position: -20px -80px;
    width: 19px;
    height: 19px; }

.forum:hover, .journey:hover, .caledar:hover
{ display: inline-block;
    background: url('../img/sprite_hover.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    transition: all ease 1.5s;
}
.caledar:hover {
    background-position: -20px -0px;
    width: 28px;
    height: 20px;
}
.journey:hover{
    background-position: -20px -40px;
    width: 20px;
    height: 20px;
}
.forum:hover {
    background-position: -20px -80px;
    width: 19px;
    height: 19px; }

.sign{
    width:65%;
    display: flex;
}
.welcome{
    width: 37%;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 15pt;
    color: white;
    text-align: left;
}
.welcome a{
    text-decoration: none;
    color: #3cb878;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 15pt;
}
.welcome a:hover{
    text-decoration: underline;
    transition:  all ease 2s;
}
.sign-up{
    width: 35%;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 15pt;
    color: white;
    text-align: left;
}
.sign-up a{
    text-decoration: none;
    color:#3cb878;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 15pt;
}
.sign-up a:hover{
    text-decoration: underline;
    transition: all ease 1.5s;
}
.middle{
    width: 400px;
    margin: 30px auto;
    vertical-align: center;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
}
.log-sign{
    width: 320px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.middle .green-suare{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 5.7%;
    background-color: #3cb878;
}
.middle-container{
    width: 320px;
    padding-bottom: 30px;
    margin-left: 40px;
}
.middle .middle-sign{
    height: 30px;
    text-decoration: none;
    text-align: left;
    display: block;
    padding:25px 0 0 0;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 20pt;
    color: rgba(67, 67, 67, 255);
}
.midlle-login{
    height: 40px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(60, 184, 120, 255);
    text-align: right;
    text-decoration: none;
    display: block;
    padding: 33px 0px 0 0;
}
.midlle-login:hover{
    text-decoration: underline;
    transition: all ease 1.5s;
}
.buttons{
    height: 50px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.buttons a{
    width:157px;
    height: 43px;
    text-decoration: none;
    display: flex;
    border-radius: 5px;
    color: white;
}
.fb{
    background-color: #305db8;
}
.google{
    background-color:#df4a32 ;
}
.fb:hover{
    background-color:#264b96;
    transition: all ease 1.5s;
}
.google:hover{
    background-color:#c3412c;
    transition: all ease 1.5s;
}

.buttons .i-fb{
    margin: 8px auto;
    border-right: 1px solid #2b54a5;
    padding: 5px 15px;
    font-size: 19px;
}
.buttons .i-google{
    margin: 8px auto;
    border-right: 1px solid #c8422d;
    padding: 5px 8px 5px 0;
    font-size: 20px;
}
.buttons .fb p{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 16pt;
    text-align: left;
    padding: 10px 15px 10px 10px
}
.buttons .google p{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 16pt;
    text-align: left;
    padding: 10px 20px 10px 10px
}
.lines{
    width: 320px;
    height: 20px;
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
}
.lines .line{
    width: 135px;
    height: 2px;
    background-color:#eaeaea;
}
.lines p{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(132, 132, 132, 255);
    text-align: left;
    display: block;
    margin-top: -10px;
}
input{
    width: 100%;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: black;
    text-align: left;
    border: 1px solid rgba(190, 190, 190, 255);
    margin-bottom: 10px;
    padding: 9px 0 9px 20px;
    border-radius: 3px;
    
}
input:focus {
    border: none;
    box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: all .2s ease-in;
}
input:not(:focus){
    box-shadow: none;
}
.mb{
    margin-bottom: 5px;
}
input::placeholder{
    color: rgba(190, 190, 190, 255);
}
.agree{
    margin-top: -10px;
}
input[type="checkbox"] {
    visibility: hidden;
}
label {
    cursor: pointer;
}
input[type="checkbox"] + label:before {
    border: 1px solid #ebebeb;
    content: "\00a0";
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 16px;
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
}
input[type="checkbox"]:checked + label:before {
    background: white;
    color: #3cb878;
    content: "\2713";
    text-align: center;
}
.agree a{
    text-decoration: none;
    color: #63c693;
}
.agree a:hover{
    text-decoration: underline;
    transition: all ease 1.5s;
}
.account{
    margin: 10px 0  0 0px;
    background-color: #3cb878;
    border-radius: 5px;
    padding: 9px 0;
    text-align: center;
}
.account a{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    text-decoration: none;
}

.account:hover {
    background-color: #329a65;
    transition: all ease 1.5s;
}







